{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    {% if title %}
        <title>{{ title }} | 100 баллов</title>
    {% else %}
        <title>Школьная программа | 100 баллов</title>
    {% endif %}

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'site/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'site/css/main.css' %}">

</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">100<em> Баллов</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{% url 'index' %}#top" class="active">Главная</a></li>
                        <li class="scroll-to-section"><a href="{% url 'index' %}#features">О нас</a></li>
                        <li class="scroll-to-section"><a href="{% url 'tutors' %}#tutors">Преподаватели</a></li>
                        <li class="scroll-to-section"><a href="{% url 'index' %}#contacts">Контакты</a></li>
                        <li class="main-button"><a href="{% url 'index'%}#contacts">Записаться</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

{% block content %}{% endblock %}

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2021 100ballov.by

                    - Designed by Architect
                </p>

                <!-- You shall support us a little via PayPal to info@templatemo.com -->

            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'site/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'site/js/popper.js' %}"></script>
<script src="{% static 'site/js/bootstrap.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'site/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'site/js/waypoints.min.js' %}"></script>
<script src="{% static 'site/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'site/js/imgfix.min.js' %}"></script>
<script src="{% static 'site/js/mixitup.js' %}"></script>
<script src="{% static 'site/js/accordions.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'site/js/custom.js' %}"></script>

</body>
</html>