{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <img src="{% static 'site/images/bg.jpg' %}" alt="" id="bg-video">

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Новый образовательный проект</h6>
                <h2>ШКОЛЬНАЯ ПРОГРАММА В <em>"100 БАЛЛОВ"</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#features">Become a member</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Информация <em>об обучени</em></h2>
                        <img src="{% static 'site/images/line-dec.png' %}" alt="waves">
                        <p>Изучите наши правила прежде, чем принять решение</p>
                    </div>
                </div>
                <div class="row justify-content-around">
                    {% for feature in features %}
                        <div class="card border-light mb-3 col-lg-3 col-md-3 col-sm-5">
                            <div class="card-header text-danger text-center"><b>{{ feature.title }}</b></div>
                            <div class="card-body">
                                <p>{{ feature.text|safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container" id="contacts">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Контактная <em>информация</em></h2>
                        <p>Вы можете задать свои вопросы, написав нам в Viber или Telegram.
                            Также вы можете заполнить форму регистрации и мы сами свяжемся с вами.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="card h-100">
                        <div class="card-header">Контакты</div>
                        <div class="card-body">
                            
                            <h1 style="color: #212529;">Время работы:</h1>
                            <p style="font-size: 1.2em;">будние дни, <b>с 9:00 до 16:00</b></p>

                            <hr>
                            <p style="font-size: 1.2em;"><b>Пожалуйста, просим вопросы и информацию присылать в Viber или Telegram:</b></p>
                            <ul style="font-size: 1.2em;">
                                <li>+375 44 754 88 51 - ул. Бельского 15 </li>
                                <li>+375 29 11 92 100 - ул. Красная 7</li>
                                <li>+375 29 37 98 100 - ул. Толбухина 2 </li>
                            </ul>
                            <hr>

                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A183bf4ec51e8c69a7928cb7849f639655678059f1aceab66deb1462d77351461&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                            
                            
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="cta-content">
                        <h2>Регистрация!</h2>
                        <p>Заполните форму регистрации и наши кураторы свяжутся с вами!</p>
                    </div>
                    <div class="contact-form">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe2iML5B6UneCW_yGSq-agpypWTNov1Oz1k-X9AQu9Oawqkjw/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Загрузка...
      </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->

{% endblock %}