{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ***** Features Item Start ***** -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading" id="tutors">
                        <h2>Наши <em>Преподаватели</em></h2>
                        <img src="{% static 'site/images/line-dec.png' %}" alt="waves">
                        <p>Мы собрали команду профессионалов.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center mb-1">
                <form action="" method="get">
                    <fieldset>
                        <legend>Выберите филиал</legend>
                        <div>
                            {{ form }}
                        </div>
                        <button type="submit" class="btn btn-primary">Показать преподавателей</button>
                    </fieldset>
                </form>
            </div>
            
            {% if office %}
            {% for name in office %}
            <div class="row justify-content-center text-center ">
                <div class="section-heading" id="tutors">
                        <h2>Филиал <em>{{ name.name }}</em> (<a href="{{ name.map_url }}" target="_blank">карта</a>)</h2>
                        <img src="{% static 'site/images/line-dec.png' %}" alt="waves">
                </div>
            </div>
            {% endfor %} 
            {% endif %}
            <div class="row justify-content-between">
                {% for tutor in tutors %}
                    <div class="card mb-4 p-2 col-lg-3 col-md-3 col-sm-5 d-block text-center">
                        {% if tutor.img_link %}
                            <img src="{{ tutor.img_link }}" alt="{{ tutor.l_name }}_аватар">
                        {% else %}
                            <img src="https://www.100ballov.by/media/django-summernote/2021-08-23/7043d218-16f1-4d13-8152-e4b85320bc78.png"
                                 alt="{{ tutor.l_name }}_аватар" style="min-width: 100px; max-width: 170px">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ tutor.f_name }} {{ tutor.l_name }}</h5>
                            <p class="card-text">
                                {% for s in tutor.subject.all %}
                                    {{ s }}<br>
                                {% endfor %}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}